:root {
	--choose-color: #2196f3;
	--background-button-color: #f5f4fa;
	--button-color: #212121;
	--contact-color: #757575;
	--backgr-color: #fff;
	--text-color: #000;
	--rgba-opacity-color: rgba(255, 255, 255, 0.6);
	--footer-background-color: #2f303a;
	--color-border: #eee;
	--border-header: #ececec;
	--solution-shadow-background: #2f303a66;
	--service-symbol-bg: #f5f4fa;
	--border-customers: #afb1b8;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	font-family: "Roboto", "Times New Roman", sans-serif;
	background-color: var(--backgr-color);
	color: var(--text-color);
	width: 100%;
	min-width: 1200px;
	max-width: 1600px;
}

.flex {
	display: flex;
}

.relative {
	position: relative;
}

.header-background {
	display: block;
	height: 80px;
	border-bottom: 1px solid var(--border-header);
}

.header-logo {
	margin-top: 24px;
	margin-bottom: 25px;
	letter-spacing: 0.03em;
}

.container-nav {
	height: 80px;
	display: flex;
	justify-content: space-around;
}

.header-nav {
	margin-left: 30px;
	padding-top: 32px;
	padding-bottom: 32px;
	letter-spacing: 0.02em;
}

.nav-list > li {
	list-style: none;
}

.nav-list {
	display: flex;
	gap: 46px;
	padding: 0;
	margin: 0;
}

.header-nav-link {
	position: relative;
}

.active-link::after {
	content: "";
	width: 100%;
	height: 4px;
	background-color: var(--choose-color);
	position: absolute;
	border-radius: 2px;
	top: 43px;
	left: 0px;
}

.header-nav-link:hover,
.header-mail:hover,
.header-phone:hover,
.header-nav-link:focus,
.header-mail:focus,
.header-phone:focus,
.footer-contact:hover,
.footer-contact:focus {
	color: var(--choose-color);
	text-decoration: none;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link,
.header-logo-link {
	color: var(--button-color);
	text-decoration: none;
}

.header-mail,
.header-phone {
	color: var(--contact-color);
	text-decoration: none;
	line-height: 1.14;
	font-size: 14px;
}

.header-phone {
	margin-left: 30px;
}

.contact-background {
	padding-top: 32px;
	padding-bottom: 32px;
	margin-left: 345px;
	letter-spacing: 0.02em;
}

.footer-logo-link {
	text-decoration: none;
}

.aside-list-button:hover,
.aside-list-button:focus {
	background-color: var(--choose-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--background-button-color);
	transition-property: color, background-color, box-shadow;
	transition-duration: 250ms;
}

.icon {
	display: inline-block;
}

.envelop-symbol {
	margin-right: 10px;
}

.phone-symbol {
	margin-right: 10px;
}

.header-phone:focus,
.header-mail:focus {
	fill: var(--choose-color);
	transition-property: fill;
	transition-duration: 250ms;
}

.icon:hover {
	fill: var(--choose-color);
	transition-duration: 250ms;
	transition-property: fill;
}

.button-solution,
.aside-list-button {
	border: var(--background-button-color);
}

.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal-backdrop {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	background-color: #00000033;
	border: 1px;
	transition: opacity 250ms, visibility 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
	position: absolute;
	width: 528px;
	height: 581px;
	border-radius: 4px;
	background-color: var(--backgr-color);
	box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-escape {
	width: 31px;
	height: 31px;
	position: absolute;
	top: 8px;
	right: 8px;
}

.solution-section {
	background-color: var(--footer-background-color);
	height: 600px;
	min-width: 1200px;
	display: block;
	background-image: linear-gradient(
			to right,
			var(--solution-shadow-background) 100%,
			var(--solution-shadow-background) 100%
		),
		url("../images/solution-background.jpg");
	background-size: contain;
}

.solution-header {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.37;
	text-transform: uppercase;
	color: var(--backgr-color);
	width: 696px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 200px;
	letter-spacing: 0.06em;
}

.button-solution {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	color: var(--backgr-color);
	background-color: var(--choose-color);
	width: 200px;
	height: 50px;
	border-radius: 4px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	letter-spacing: 0.06em;
}

.service-logo {
	width: 270px;
	height: 120px;
	background-color: var(--service-symbol-bg);
	text-align: center;
}

.service-symbol {
	margin: 25px 0;
}

.service-header {
	color: var(--button-color);
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	margin-top: 30px;
}

.service-list {
	padding-left: 15px;
	padding-right: 15px;
	gap: 30px;
	letter-spacing: 0.03em;
}

.service-description {
	color: var(--contact-color);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-top: 10px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-header {
	color: var(--button-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 30px;
}

.specialize-list {
	display: flex;
	justify-content: space-evenly;
}

.activities-description {
	position: absolute;
	bottom: 0;
	color: white;
	text-align: center;
	background-color: rgba(47, 48, 58, 0.8);
	width: 370px;
	height: 70px;
}

.activities-text {
	padding-top: 27px;
	padding-bottom: 27px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.17;
	letter-spacing: 0.03em;
}

.specialize-box {
	height: 294px;
}

.specialize {
	margin-top: 94px;
}

.team-media {
	margin-top: 16px;
}

.team-media > ul {
	display: flex;
}

.team-icons-social {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 10px;
}

.icons-social {
	width: 20px;
	height: 20px;
}

.team-media-symbols {
	padding-top: 16px;
}

.team-icons-social-bg {
	fill: var(--border-customers);
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-icons-social-bg:hover,
.team-icons-social-bg:focus {
	background-color: var(--choose-color);
	fill: var(--backgr-color);
	transition-property: background-color, fill;
	transition-duration: 250ms;
}

.team-icons-social-bg {
	border-radius: 50%;
	width: 44px;
	height: 44px;
}

.team-background {
	background-color: var(--background-button-color);
}

.team-block {
	margin-top: 30px;
	text-align: center;
}

.team-name-header {
	color: var(--button-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	margin-bottom: 10px;
}

.team-name-description {
	color: var(--contact-color);
	font-size: 16px;
	line-height: 1.187;
}

.aside-list,
.portfolio-list,
.specialize-list,
.team-list,
.service-list {
	list-style: none;
}

.team-list {
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
	letter-spacing: 0.03em;
	padding-left: 15px;
	padding-right: 15px;
	gap: 30px;
}

.team-list img {
	display: block;
}

.team-list > li {
	background-color: var(--backgr-color);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-media > ul {
	list-style: none;
}

.main-background {
	display: flex;
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	padding: 0;
	justify-content: center;
}

.portfolio-section {
	margin-top: 50px;
	margin-bottom: 94px;
}

.portfolio-list-container {
	margin: 0;
}

.portfolio-list-container-active {
	position: relative;
	overflow: hidden;
	height: 294px;
}

.portfolio-list-description-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	text-align: left;
	font-size: 18px;
	letter-spacing: 0.03em;
	line-height: 1.56;
	padding: 49px 45px 49px 24px;
}

.portfolio-list-item:hover .portfolio-list-description-cover {
	transform: translateY(0);
	background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-list > li {
}

.portfolio-list-container > img {
	display: block;
}

.portfolio-list-item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
	transition-property: box-shadow;
	transition-duration: 250ms;
}

.aside-list {
	display: flex;
	gap: 8px;
	padding: 0;
	justify-content: center;
}

.aside-list-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	border-radius: 4px;
	height: 38px;
	width: 121px;
	background-color: var(--background-button-color);
}

.aside-background {
	padding-top: 94px;
}

.click {
	cursor: pointer;
}

.our-customers-header {
	margin-bottom: 50px;
}

.our-customers-list {
	display: flex;
	gap: 30px;
}

.our-customers-list li {
	list-style: none;
	width: 170px;
	height: 92px;
	border: 1px solid var(--border-customers);
	border-radius: 4px;
}

.customers-logo-center {
	max-width: 106px;
	height: 60px;
}

.our-customers-block {
	display: flex;
	justify-content: center;
	padding: 14px 25px;
	fill: var(--border-customers);
}

.our-customers-block:hover {
	fill: var(--choose-color);
	border: 1px solid var(--choose-color);
	transition: fill, border;
	transition-duration: 250ms;
}

.header-logo-link,
.footer-logo-link {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	font-weight: 700;
	line-height: 1.19;
}

.header-nav-link {
	font-weight: 500;
	line-height: 1.14;
	font-size: 14px;
}

.web-header-logo-link,
.web-footer-logo-link {
	color: var(--choose-color);
}

.studio-footer-logo-link {
	color: var(--backgr-color);
}

address {
	color: var(--backgr-color);
	font-size: 14px;
	line-height: 1.7;
	margin-top: 20px;
	font-style: normal;
}

.footer-contact {
	color: var(--rgba-opacity-color);
	line-height: 1.7;
	font-size: 14px;
	display: block;
	width: 231px;
	margin-top: 9px;
	text-decoration: none;
}

.footer-tel-contact {
	text-decoration: none;
}

footer {
	background-color: var(--footer-background-color);
	height: 252px;
	letter-spacing: 0.03em;
}

.join-footer-header {
	color: var(--backgr-color);
	margin-top: 72px;
}

.join-footer-list {
	margin-top: 20px;
	gap: 10px;
}

.footer-social-bg {
	background-color: rgba(100%, 100%, 100%, 10%);
}

.footer-gap {
	gap: 70px;
}

.footer-icons-color {
	fill: var(--backgr-color);
}

.list-style-none {
	list-style: none;
}

.portfolio-list-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	color: var(--button-color);
	letter-spacing: 0.06em;
}

.portfolio-list-description {
	font-size: 16px;
	line-height: 1.875;
	color: var(--contact-color);
	letter-spacing: 0.03em;
	padding-top: 4px;
}

.portfolio-section-description {
	border-bottom: 1px solid var(--color-border);
	border-left: 1px solid var(--color-border);
	border-right: 1px solid var(--color-border);
	width: 370px;
	padding-left: 24px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.portfolio-list-container img {
	width: 370px;
	height: 294px;
}

.footer-properties {
	margin-left: 15px;
	letter-spacing: 0.03em;
}

.footer-logo {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 60px;
	text-decoration: none;
}

.service-list {
	display: flex;
}
